<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- Test -->
    <add name="FormDbContextTest" connectionString="character set=WIN1251;data source=localhost;initial catalog=&quot;C:\Users\master\Documents\Visual Studio 2015\Projects\PupaParserComeback\PupaParserComeback.Data.Firebird\Db\FORM2017-2.GDB&quot;;user id=SYSDBA;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>
    <!-- Deploy -->
    <add name="FormDbContext" connectionString="character set=WIN1251;data source=DC;initial catalog=G:\Work\Mash\new_form\base\FORM2017-2.GDB;user id=SYSDBA;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.2" newVersion="1.0.105.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient"/>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
		</DbProviderFactories>
	</system.data><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
